<!DOCTYPE html>
<html>
 <head>
   <title>Sneakers App</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap" rel="stylesheet">
 </head>
 <body>
 <nav>
  &nbsp;&nbsp;|&nbsp;&nbsp;
   <a href="/collections"><img src="https://i.imgur.com/CDwOWVA.png"></a>
   &nbsp;&nbsp;|&nbsp;&nbsp;
   <% if (user) { %>
    <a href="/sneakers"> ALL SNEAKERS</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/sneakers/new"> NEW SNEAKER</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
   <a href="/collections/new"> NEW COLLECTION</a>
   &nbsp;&nbsp;|&nbsp;&nbsp;
   <a href="/logout">LOG OUT</a>
   <% } else { %>
   <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
   <% } %>
  </nav>

  <main>  
  
  