<!DOCTYPE html>
<html>
 <head>
   <title>Sneakers App</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
 </head>
 
 <nav>
  &nbsp;&nbsp;|&nbsp;&nbsp;
   <a href="/">SNEAKERS APP</a>
   &nbsp;&nbsp;|&nbsp;&nbsp;
   <% if (user) { %>
   <a href="/sneakers/new"> NEW SNEAKER</a>
   &nbsp;&nbsp;|&nbsp;&nbsp;
   <a href="/collections/new"> NEW COLLECTION</a>
   &nbsp;&nbsp;|&nbsp;&nbsp;
   <a href="/logout">LOG OUT</a>
   <% } else { %>
   <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
   <% } %>
  </nav>
   <body>
  