<%- include('./partials/header') %>
<!DOCTYPE html>
<html>
 <head>
   <h1> WELCOME</h1>
   <link rel='stylesheet' href='/stylesheets/style.css' />
 </head>
 <body>

 </body>
 


<%- include('./partials/footer') %>