<%- include('./partials/header') %>

    
    <h1> SNEAKERS APP</h1>
    <h2> WELCOME </h2>
    <p> CREATE AND SHARE YOUR PERSONAL SNEAKER COLLECTION </p>
    <p> LOG IN WITH A GOOGLE ACCOUNT TO BEGIN CREATING</p>
    <p> OR </p>
    <p> BROWSE THE COLLECTIONS BY CLICKING THE SNEAKER ICON </p>
    

<%- include('./partials/footer') %>