<%- include('../partials/header') %>
<h1>ALL COLLECTIONS</h1>
    <ul>
        <% collections.forEach(function(c) { %>
            <li>
                <%= c.collectionName %>
                <a href="/collections/<%= c.id %>"> DETAILS</a>
            </li>
            <% }); %>
    </ul>

<%- include('../partials/footer') %>