<%- include('../partials/header') %>
<form id="collection" action="/collections" method="POST"> 
    <label>Collection Name:</label>
    <input type="text" name="collectionName">
    <input type="submit" value="Create Collection">
</form>



<%- include('../partials/footer') %>