<%- include('../partials/header') %>
<form>
    <label>Collection Name:</label>
    <input type="text" name="collection">

    <button type="submit">Save Collection</button>
</form>



<%- include('../partials/footer') %>