<%- include('../partials/header') %>
<body>
<h1>New Collection</h1>
<form action="/collections" method="POST" autocomplete="off"></form>
    <input type="text" name="collection">
    <button type="submit">Save Collection</button>
</form>
</body>
<%- include('../partials/footer') %>