<%- include('../partials/header') %>

<h1>New Sneaker</h1>
<form action="/sneakers" method="POST" autocomplete="off"></form>
    <input type="text" name="collection">
    <button type="submit">Save Sneaker</button>
</form>

<%- include('../partials/footer') %>