<%- include('../partials/header') %>

<form id="sneaker-info" action="/sneakers" method="POST"> </form>
    <label>Brand:</label>
    <input type="text" name="brandName">
    <label>Model:</label>
    <input type="text" name="modelName">
    <label>Colorway:</label>
    <input type="text" name="colorWay">
    <label>Release Year:</label>
    <input type="text" name="releaseYear">

    
    <button type="submit">Save Sneaker</button>
</form>

<%- include('../partials/footer') %>