<%- include('../partials/header') %>

<form id="sneaker-info" action="/allSneakers" method="POST"> 
    <label>Brand:</label>
    <input type="text" name="brandName">
    <label>Model:</label>
    <input type="text" name="modelName">
    <label>Colorway:</label>
    <input type="text" name="colorWay">
    <label>Release Year:</label>
    <input type="text" name="releaseYear">
    <input type="text" name="image">
    <input type="submit" value="Add Sneaker">
    
</form>

<%- include('../partials/footer') %>